@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}


@font-face {
    font-family: 'Carter One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/CarterOne-Regular.woff2') format('woff2');
}

body {
    font-family: 'Carter One', sans-serif;
    text-align: center;
    background-color: #002b36;
    background-size: 400% 400%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    color: #fff;
    overflow-y: scroll;
    background-image: url('./background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}


.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px 0 0 0;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeIn 1s ease forwards;
    animation-delay: 0s;
}

h1 {
    font-size: 4em;
    margin: -10px 0 -10px 0;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
}

.quote {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
    transform: translateY(-20px);
}

.welcome {
    opacity: 0;
    font-size: 2em;
    margin-bottom: 5px;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.5s;
}

.quoted {
    text-align: right;
    font-size: 0.8em;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease forwards;
    animation-delay: 2s;
}

.aboutme1, .aboutme2, .aboutme3 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
    font-size: 1.5em;
}

.aboutme1 { animation-delay: 2.5s; }
.aboutme2 { animation-delay: 2.7s; }
.aboutme3 { animation-delay: 2.9s; }


.repo-container {
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards 2s;
    animation-delay: 3.2s;
}

.repo-label {
    font-size: 2em;
    margin-bottom: 20px;
}

.repo {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.repo:hover {
    transform: translateX(10px);
    background-color: rgba(0, 0, 0, 0.7);
}

.repo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}

.repo a:hover {
    text-decoration: underline;
}

.sidebar1 {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.sidebar1:hover {
    transform: translateX(10px);
    background-color: rgba(255, 255, 255, 0.7);
}

.sidebar1 a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
}

.sidebar1 a:hover {
    text-decoration: underline;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: rgb(0, 0, 0, 1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar .dropdown {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.sidebar .dropdown-content {
    display: none;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
    animation: slideIn 0.5s ease forwards;
}

.sidebar .dropdown-content a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

.sidebar .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.sidebar .dropdown-content a:last-child {
    border-bottom: none;
}

.sidebar .dropdown:hover .dropdown-content {
    display: flex;
}

.hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.hamburger-menu.active {
    transform: translateX(275px);
}

.hamburger-menu:hover {
    background-color: #333;
}


.hiddenButton {
    display: none;
}