Package: com.dk865.radioringtone
Version: 1.0
Architecture: iphoneos-arm64
Maintainer: dk86t
Author: dk865
Installed-Size: 100
Depiction: https://dk865.github.io/depictions/portalradioringtone/index.html
Description: 2 Portal Radio Loop Ringtones, In-Game and Decompressed, added to Settings for you to choose from.
