Package: com.dk865.dotto+
Name: dotto+
Depends: mobilesubstrate, preferenceloader, firmware (>=13.0), ws.hbang.alderis | org.thebigboss.libcolorpicker
Architecture: iphoneos-arm64
Description: Notifications, your style. Modified for Rootless by dk865.
Maintainer: dk865
Author: ConorTheDev & Mirac
Section: Tweaks
Version: 1.0.6
Installed-Size: 592
