Package: com.burritoz.aperio
Name: Aperio
Version: 1.4.0
Architecture: iphoneos-arm64
Description: A beautiful app launcher for your lock screen
Maintainer: burrit0z
Author: burrit0z
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, applist, ws.hbang.common (>= 1.14)
Depiction: https://repo.dynastic.co/depiction/332748437059534848/
Icon: https://repo.dynastic.co/data/static/version/338673963532025856/338673963720769536?size=180
SileoDepiction: https://repo.dynastic.co/sileo-depiction/332748437059534848/
Installed-Size: 1384
